
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  height: 812px;
  width: 375px;
  background-color: #fff;
}

.navbar {
  height: 70px;
  width: auto;
}

.nav {
  display: flex;
  height: 30px;
  margin: 30px 5px;
  width: 90%;
  flex-direction: row-reverse;
}

.fa-bars {
  font-size: 50px;
  margin: 25px;
}

.flexcontainer {
  display: flex;
  background-image: url(./background.png);
  background-size: 360px 623px;
  flex-direction: column;
  width: 96%;
  align-items: center;
}

.flexitem {
  margin: auto;
  height: 20%;
  width: 90%;
  justify-content: center;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
}

.heading h1 {
  color: #172b4d;
}

.heading b {
  font-weight: 600;
  color: #36b37e;
}

.paragraph {
  height: 10%;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.socialmediaicons {
  height: 2%;
  width: 60%;
  align-self: center;
  font-size: 24px;
  margin-left: 10%;
}

.fa {
  color: #505f79;
  margin: 0 10px;
}
